::-webkit-scrollbar {
  overflow-y: auto;
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: #111b21;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 0.1rem;
}
